<div class="jumbotron">
    <h1>Nodal</h1>
    <p class="lead">Nodal Mobile Ordering System allow you to order any products through your mobile phones.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>